.aside {
  flex: 0 0 80px;
  gap: 20px;
  background-color: var(--mantine-color-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  
}

.mainLink {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}

.mainLink:hover {
  background-color: #7c3aed;
  color: #fff;
}

.mainLink[data-active] {
  background-color: #7c3aed;
  color: #fff;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
}

.bottomSection {
  position: absolute;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.icon {
  width: 22px;
  height: 22px;
}
