.main {
  flex: 1;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  padding: 15px;
  margin-bottom: 30px;
}

.header {
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 10px;
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 700;
}

