.sidebar {
  height: 100vh;
  background: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  overflow: hidden;
  transition: width 0.3s ease;
  position: relative;
}

.sidebar.open {
  width: 240px;
}

.sidebar.closed {
  width: 70px;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 16px;
  color: (light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1)), #fff);
  transition: background 0.2s;
}

.sidebar .nav-link:hover {
  background: rgba(75, 45, 45, 0.05);
}

.sidebar-logo {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.toggle-btn {
  position: absolute;
  top: 24px;
  right: -13px;
  background: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  z-index: 10;
}
.header{
 border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
 padding: 7px;
}

.sidebar.closed .sidebar-logo {
  display: none;
}

